.article-list {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  margin-left: 260px;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
  gap: 20px;
  background-color: #F6F8F9;
  padding: 20px;
  border-radius: 10px;
}

.filter-container select,
.filter-container input {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #D2C8C8;
  min-width: 150px;
  width: 200px;
  background-color: #F6F8F9;
}

.filter-container button {
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5F94CD;
  color: white;
  font-weight: 600;
}

.filter-container button:hover {
  background-color: #46709e;
}

.article-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.article-table th {
  background-color: #f4f6f8;
  text-align: left;
  font-weight: 600;
  color: #000000;
  padding: 12px;
  border-bottom: 2px solid #e0e0e0;
}

.article-table td {
  padding: 8px;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  color: #4B4747;
}

.article-table tr:nth-child(even) {
  background-color: #fafafa;
}

.article-table tr:hover {
  background-color: #f1f1f1;
}

.edit-btn,
.delete-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  margin: 0 5px;
  border: none;
}

.edit-btn {
  color: black;
}

.delete-btn {
  color: red;
}

.edit-btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
}

.delete-btn:hover {
  color: white;
  background-color: #d32f2fc2;
}

/* Responsive design */
@media (max-width: 768px) {
  .article-list {
    margin-left: 0;
    padding: 10px;
  }

  .filter-container {
    flex-direction: column;
  }

  .filter-container select,
  .filter-container input {
    width: 100%;
  }

  .article-table th,
  .article-table td {
    font-size: 12px;
    padding: 10px;
  }

  .article-table {
    display: block;
    overflow-x: auto;
  }
} 