.doctor-requests3 {
    flex: 1;
    background-color: #f9fafb;
    margin-left: 260px; /* Same as sidebar width */
  
  }
  
  .navbar3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar3 h1 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-icons3 {
    display: flex;
    gap: 16px;
  }
  
  .profile-icon3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .second-part3{
    padding: 30px;
  }
  
  .summary-section3 {
    display: flex;
    width: 80%;
    gap: 80px;
    margin-bottom: 16px;
  }
  
  .summary-card3 {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    border: 1px solid #D2C8C8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .summary-card3 p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .summary-card3 span {
    font-size: 14px;
    color: gray;
  }

  .icon-div3 {
    background-color: #CCE4FE;
    border-radius: 50%;
    border: 8px solid #CCE4FE;
  }
  .tabs3 {
    margin-bottom: 16px;
  }
  
  .table-section3 {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .requests-table3 {
    width: 100%;
    border-collapse: collapse;
  }
  
  .requests-table3 th,
  .requests-table3 td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .requests-table3 thead tr {
    background-color: #f3f4f6;
  }
  
  .requests-table3 tbody tr:nth-child(even) {
    background-color: #f9fafb;
  }
  
  .requests-table3 tbody tr:hover {
    background-color: #e5e7eb;
  }

  