/* NavBar Section */

.navbar {
    background-color: #5F94CD;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 50px; */
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar .logo img {
    height: 40px; /* Adjust logo height */
    width: auto; /* Maintain aspect ratio */
}

.navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
    /* font-size: 25px; */
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: #ffffff;
    transform: scale(1.05);
    text-decoration: none;
}

.navbar .login:hover {
    color: #000000;
    transform: scale(1.05);
    text-decoration: none;
}

.navbar .login {
    color: #ffffff;
    font-weight: 400;
}

.navbar .btn-signup {
    height: 38px;
    width: 100px;
    background-color: #A0DBF4;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .btn-signup:hover {
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.navbar .btn-signup:active {
    background-color: #d0d0d0;
    transform: translateY(0);
    box-shadow: none;
}
